ECS308: Data Science and Machine Learning Project | Akanksha Singh, 19022

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Loading the data
df = pd.read_csv('dataset.csv')
df

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,2015825,2508182,HH781001,11/15/2002 12:30:00 PM,003XX N ASHLAND AVE,0810,THEFT,OVER $500,STREET,False,...,27.0,28.0,06,1165667.0,1902638.0,2002,02/28/2018 03:56:25 PM,41.888430,-87.667064,"(41.888429628, -87.667063831)"
1,2110300,2687361,HJ308830,04/18/2003 06:10:00 PM,016XX W 18TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,25.0,31.0,08B,1165650.0,1891466.0,2003,02/10/2018 03:50:01 PM,41.857773,-87.667445,"(41.857773091, -87.667444544)"
2,381828,10755691,HZ518320,11/16/2016 09:50:00 PM,009XX S CICERO AVE,1506,PROSTITUTION,SOLICIT ON PUBLIC WAY,STREET,True,...,24.0,25.0,16,1144531.0,1895566.0,2016,02/10/2018 03:50:01 PM,41.869447,-87.744861,"(41.869447309, -87.744861466)"
3,6048052,8740111,HV415603,08/04/2012 05:15:00 PM,072XX S INGLESIDE AVE,0460,BATTERY,SIMPLE,OTHER,False,...,5.0,69.0,08B,1183801.0,1857416.0,2012,02/04/2016 06:33:39 AM,41.763932,-87.601884,"(41.763931739, -87.601884055)"
4,6873402,11924187,JC549979,12/16/2019 04:45:00 PM,017XX W THOME AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,...,40.0,77.0,14,1163394.0,1941667.0,2019,12/23/2019 03:56:38 PM,41.995575,-87.674309,"(41.995575459, -87.674309158)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3562445,4714376,HM318809,04/21/2006 12:01:00 AM,022XX S WENTWORTH AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESTAURANT,False,...,25.0,34.0,14,1175327.0,1889358.0,2006,02/10/2018 03:50:01 PM,41.851777,-87.631988,"(41.851777151, -87.631987613)"
99996,4621702,6567536,HP637109,10/19/2008 10:05:00 PM,002XX W CERMAK RD,1360,CRIMINAL TRESPASS,TO VEHICLE,ALLEY,True,...,25.0,34.0,26,1175002.0,1889741.0,2008,02/28/2018 03:56:25 PM,41.852835,-87.633169,"(41.852835409, -87.633168974)"
99997,5483697,7815219,HS625058,11/20/2010 04:50:00 PM,0000X N STATE ST,0860,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,...,42.0,32.0,06,1176362.0,1900577.0,2010,02/10/2018 03:50:01 PM,41.882540,-87.627851,"(41.882539542, -87.627850543)"
99998,3616848,4921843,HM536277,08/12/2006 05:29:00 PM,032XX W ROOSEVELT RD,0530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,ALLEY,True,...,24.0,29.0,04A,1154766.0,1894523.0,2006,02/28/2018 03:56:25 PM,41.866387,-87.707314,"(41.866386519, -87.707313676)"
99999,4558204,6401168,HP484827,07/30/2008 10:00:00 PM,026XX W POTOMAC AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,...,26.0,24.0,08B,1158631.0,1908547.0,2008,02/28/2018 03:56:25 PM,41.904791,-87.692741,"(41.904791439, -87.692740532)"

In [3]:
df = df.drop(['Latitude', 'Longitude'], axis = 1) #redundant feature, already used in location

# 2. Preprocessing Data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100000 entries, 2002-11-15 12:30:00 to 2008-07-30 22:00:00
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            100000 non-null  int64
 1   ID                    100000 non-null  int64
 2   Case Number           100000 non-null  object
 3   Date                  100000 non-null  datetime64[ns]
 4   Block                 100000 non-null  object
 5   IUCR                  100000 non-null  object
 6   Primary Type          100000 non-null  object
 7   Description           100000 non-null  object
 8   Location Description  100000 non-null  object
 9   Arrest                100000 non-null  bool
 10  Domestic              100000 non-null  bool
 11  Beat                  100000 non-null  int64
 12  District              100000 non-null  float64
 13  Ward                  100000 non-null  float64
 14  Community Area        100000 non-null  float64
 15  FBI Code              100000 non-null  object
 16  X Coordinate          100000 non-null  float64
 17  Y Coordinate          100000 non-null  float64
 18  Year                  100000 non-null  int64
 19  Updated On            100000 non-null  object
 20  Location              100000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(5), int64(4), object(9)
memory usage: 15.4+ MB

In [14]:
df = df.astype({"Unnamed: 0": object})
df = df.astype({"ID": object})
df = df.astype({"Beat": object})
df = df.astype({"District": object})
df = df.astype({"Ward": object})
df = df.astype({"Community Area": object})
df = df.astype({"Year": object})
df = df.astype({"X Coordinate": object})
df = df.astype({"Y Coordinate": object})

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100000 entries, 2002-11-15 12:30:00 to 2008-07-30 22:00:00
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            100000 non-null  object
 1   ID                    100000 non-null  object
 2   Case Number           100000 non-null  object
 3   Date                  100000 non-null  datetime64[ns]
 4   Block                 100000 non-null  object
 5   IUCR                  100000 non-null  object
 6   Primary Type          100000 non-null  object
 7   Description           100000 non-null  object
 8   Location Description  100000 non-null  object
 9   Arrest                100000 non-null  bool
 10  Domestic              100000 non-null  bool
 11  Beat                  100000 non-null  object
 12  District              100000 non-null  object
 13  Ward                  100000 non-null  object
 14  Community Area        100000 non-null  object
 15  FBI Code              100000 non-null  object
 16  X Coordinate          100000 non-null  object
 17  Y Coordinate          100000 non-null  object
 18  Year                  100000 non-null  object
 19  Updated On            100000 non-null  object
 20  Location              100000 non-null  object
dtypes: bool(2), datetime64[ns](1), object(18)
memory usage: 15.4+ MB

In [15]:
df.isnull().sum()

Unnamed: 0              0
ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Location                0
dtype: int64

In [16]:
df.nunique()

Unnamed: 0              100000
ID                      100000
Case Number             100000
Date                     94848
Block                    22902
IUCR                       321
Primary Type                31
Description                377
Location Description       149
Arrest                       2
Domestic                     2
Beat                       302
District                    23
Ward                        50
Community Area              77
FBI Code                    26
X Coordinate             38908
Y Coordinate             49371
Year                        21
Updated On                1767
Location                 70915
dtype: int64